In [ ]:
import pandas as pd
pd.__version__

'1.5.3'

In [ ]:
list_s=[1,2,3,-4,-5,'data values']
print(list_s)

[1, 2, 3, -4, -5, 'data values']

In [ ]:
series1=pd.Series(list_s)
print(series1)
type(series1)

0              1
1              2
2              3
3             -4
4             -5
5    data values
dtype: object

pandas.core.series.Series

In [ ]:
series2=pd.Series([1,3,5,-6,'hello'])
print(series2)

0        1
1        3
2        5
3       -6
4    hello
dtype: object

In [ ]:
series3=pd.Series([1,2,3,4],index=('a','b','c','d'), dtype=float, name='data value')
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
Name: data value, dtype: float64

In [ ]:
dict_s=pd.Series({'a':1,'b':2,'c':3})
print(dict_s)

a    1
b    2
c    3
dtype: int64